body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #141414;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  min-width: 100%
}

#header{
	display:flex;
	min-height: 10%;
	width:100%;
}
#video {
	display: flex;
min-width: 100%;
left:-0.05%;
}

#logo {
}
#menu {
	padding-top: 30px;
	min-width: 40%
	min-height:20%;
	background-color: #141414;
}
.flex-container ul {
  display: inline;
  margin: 0;
  padding: 0;
}
.flex-container ul li {display: inline-block;}
.flex-container ul li:hover {background: #141414;}
.flex-container ul li:hover ul {display: block;}
.flex-container ul li ul {
  position: absolute;
  width: auto;
  display: none;
}
.flex-container ul li ul li { 
  background: #141414; 
  display: block; 
}
#inventory {
	color: white;
	text-decoration: none;
}
.flex-container {
	width:100%;
	color:white;
	background-color: #141414;
	display: flex;
	flex-direction: row;
    position: absolute;
    float: left;
    justify-content: space-around;

}
#selection{
	border:none;
	display: none;
	min-width: 80%
	min-height:20%;
	background-color: #262626;
	color:white;
}
@media (max-width: 1300px){
	#menu{
		display: none;
	}
	#selection{
		display:inline-block;
	}
	.flex-container{
		justify-content: space-between;
	}
	#video{
		width:100%;
	}
}
@media (max-width: 330px){
	#menu{
		display: none;
	}
	#selection{
		display:inline-block;
	}
	.flex-container{
		justify-content: space-between;
	}
	#video{
		width:100%;
	}
	#logo{
		width:80%;
	}
}
.autoshow{
	color:white;
	text-align: center;
	font:200px;
}

.show ul {
  list-style: none;
  width: 100%;
}
.show ul li {
  display: inline-block;
  width: 33%;
  margin-bottom: 5px;
}
.show ul li img {
  width: 100%;
}
.show ul li.feature {
  float: left;
  width: 66%;
}
.show ul li.r {
  float: right;
  width: 66%;
}
@media (max-width: 640px) {
  .show ul li {
    width: 100%;
  }

  .show ul li.feature {
    width: 100%;
  }
  .show ul li.r {
    width: 100%;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}
img {
  width: 100%;
  height: auto;
}
.car-listing {
  position: relative;
}
.car-image {
  line-height: 0;
}
.car-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(90,0,10,0.4);
   
  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
   
  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
transition: opacity .5s;
}
.car-listing:hover .car-title {
  opacity: 1;
}
